<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content-success">
      <p id="successMsg" class="success"><%= successMsg %></p>
    </div>
    <form method="post" action="http://127.0.0.1:3000/SHZ1-010101M1234-HFOWW">
      <div class="countainer">
        <div class="content-fields">
          <p id="field1Err" class="err"><%= field1Err %></p>
          <div class="field1">
            <input
              id="field1"
              class="input-field1"
              name="field1"
              type="number"
              placeholder="فیلد1 را وراد کنید (عدد,اجباری)"
            />
          </div>
          <p id="field2Err" class="err"><%= field2Err %></p>
          <div class="field2">
            <input
              id="field2"
              class="input-field2"
              name="field2"
              type="text"
              placeholder="فیلد2 را وراد کنید (حرف فارسی /انگلیسی,اختیاری)"
            />
          </div>
          <p id="field3Err" class="err"><%= field3Err %></p>
          <div class="field3">
            <input
              id="field3"
              class="input-field3"
              name="field3"
              type="text"
              placeholder="فیلد3 را وراد کنید (حرف فارسی /انگلیسی,اختیاری)"
            />
          </div>
          <p id="field4Err" class="err"><%= field4Err %></p>
          <div class="field4">
            <input
              id="field4"
              class="input-field4"
              name="field4"
              type="number"
              placeholder="فیلد4 را وراد کنید (عدد,اختیاری)"
            />
          </div>
          <div class="save-info">
            <input
              id="btn-save-db"
              class="btn-save-info"
              type="submit"
              value="نوشتن اطلاعات فوق در دیتابیس "
            />
          </div>
        </div>
        <div class="content-new-tab">
          <div class="new-tab">باز شدن تب جدید</div>
        </div>
      </div>
    </form>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</html>
